*, html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #782fc2;    
}

.form {
    text-align: center;
    background-color: aqua;
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border-radius: 10px;
}

.text {
    margin-bottom: 20px;
}

.submit {
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 40px;
}

.submit:hover {
    background-color: #5c9900;
    color: whitesmoke;
    cursor: pointer;
    width: 190px;
    height: 50px;
    transition: all .2s ease-in-out;
}

.username {
    margin-top: 10px;
}

.pass {
    margin-top: 10px;
}

.username > input {
    border-radius: 5px;
    border: none;
    padding: 2px;
    height: 25px;
    margin-top: 10px;
}

.pass > input  {
    border-radius: 5px;
    border: none;
    padding: 2px;
    height: 25px;
    margin-top: 10px;
}

