*, html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #782fc2;    
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2F1ZLpfHy.jpg&f=1&nofb=1&ipt=5346f12b6e8b3a1bccf9c85b35e6e1f71973c02a3d1e0e01ee9bfca1606e008d&ipo=images); */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    text-align: center;
    background-color: aqua;
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    /* margin-top: 10%; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px white;
}

.text {
    margin-bottom: 20px;
}

.submit {
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 40px;
    border: 2px solid black;
}

.submit:hover {
    background-color: #5c9900;
    color: whitesmoke;
    cursor: pointer;
    width: 190px;
    height: 50px;
    transition: all .2s ease-in-out;
    border: 2px solid white;
}

.username {
    margin-top: 10px;
}

.pass {
    margin-top: 10px;
}

.username > input {
    border-radius: 5px;
    border: none;
    padding: 2px;
    height: 25px;
    margin-top: 10px;
}

.pass > input  {
    border-radius: 5px;
    border: none;
    padding: 2px;
    height: 25px;
    margin-top: 10px;
}

